<section class="w-full p-10">
    <div class="title_actions_btn">
        <div class="flex justify-between mt-2 mb-6">
            <h1 class="text-2xl font-bold text-[#0B0311] mt-4">
                {{ "orders.view.title" | transloco }}
            </h1>
        </div>

        <form [formGroup]="searchForm">
            <div class="flex justify-start bg-[#FDFBFE] gap-5 p-4 mb-6 rounded-md w-full">
                <div class="w-1/2">
                    <label class="block mb-2 font-bold font-" for="codeInput">{{
                        "orders.view.filter.userName" | transloco
                        }}</label>

                    <p-iconField iconPosition="left">
                        <p-inputIcon styleClass="pi pi-search " class="text-4xl" />
                        <input id="codeInput" type="text" name="userName" formControlName="userName" (keyup)="search()"
                            pInputText placeholder="{{
                                'orders.view.filter.userName' | transloco
                            }}" class="border-2 bg-[#e4dde985] w-full border-gray-100 rounded-lg p-2 pe-8 h-12" />
                    </p-iconField>
                </div>
                <!-- <div class="w-1/3 orders-form-select">
                    <label class="block mb-2 font-bold font-" for="companyNameInput">{{
                        "orders.view.filter.service_type" | transloco
                        }}</label>
                    <ng-select class="mt-3" [items]="servicesTypesList" bindLabel="name" [clearable]="false"
                        placeholder="{{'orders.view.filter.service_type_ph' | transloco }}"
                        [loading]="servicesTypesLoading" formControlName="typeOfServiceId" bindValue="id"
                        (search)="onServiceTypesSearch($event)" (clear)="onClearServicesTypes($event)"
                        (scroll)="onServiceTypesScroll($event)" (scrollToEnd)="onServiceTypesScrollToEnd()">
                    </ng-select>
                </div> -->
                <div class="w-1/2 orders-form-select">
                    <label class="block mb-2 font-bold font-" for="companyBranchId">{{
                        "orders.view.filter.branch" | transloco
                        }}</label>

                    <ng-select class="mt-3" [items]="branchesList" bindLabel="branchName" [clearable]="true"
                        placeholder="{{'orders.view.filter.branch_ph' | transloco }}"
                        (change)="search()"
                        [loading]="branchesLoading" formControlName="companyBranchId" bindValue="id"
                        (search)="onBranchesSearch($event)" (clear)="onClearBranches($event)"
                        (scroll)="onBranchesScroll($event)" (scrollToEnd)="onBranchesScrollToEnd()">
                    </ng-select>
                </div>
            </div>
        </form>
    </div>
    <div class="">
        <app-orders-table [tableConfig]="tableConfig" translationKey="orders" (paginationEmitter)="onPaginationChange($event)"
        (actionEmitter)="onActionClick($event)"></app-orders-table>
    </div>
</section>