<div class="card">
    <p-table #dt [value]="tableConfig.data" dataKey="id" [rows]="tableConfig.rows" [columns]="selectedColumns()"
        [tableStyle]="tableConfig.tableStyle" [totalRecords]="tableConfig?.total" [(selection)]="selectedItems"
        [globalFilterFields]="tableConfig.globalFilterFields"
        [ngClass]="tableConfig?.loading ? '!min-h-[40vh]' : ''" [loading]="tableConfig.loading" [lazy]="tableConfig.lazy"
        styleClass="p-datatable-striped" id="orders-table">
        @if (tableConfig.controlColumns) {
        <ng-template pTemplate="caption">
            <p-multiSelect display="chip" [options]="columns" [(ngModel)]="selectedColumns" optionLabel="header"
                selectedItemsLabel="{0} columns selected" [style]="{ 'min-width': '200px' }"
                placeholder="Choose Columns" />
        </ng-template>
        } @if (tableConfig.withSearch) {
        <ng-template pTemplate="caption">
            <p-iconField iconPosition="left">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Global Search" />
            </p-iconField>
        </ng-template>
        }

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="p-2" style="width: 4rem" *ngIf="tableConfig.withCheckBoxes">
                    <p-tableHeaderCheckbox />
                </th>
                @for (col of columns; track col.field) {
                <th (click)="SortData(col.field)" [ngClass]="col.style" class="p-4 font-semibold bg-[#4F008D14] text-md"
                    [pSortableColumn]="col.sortable ? col.field : null">
                    @if (col.header !== 'Actions') {
                    <ng-container>
                        @if (col.header == 'Operations') {
                        {{ translationKey +".view.table.operations" | transloco }}
                        } @else {
                        {{ col.header | transloco }}
                        }
                        <p-sortIcon class="inline-flex w-2 h-2 mx-1 !align-super min-w-2 min-h-2" *ngIf="col.sortable"
                            [field]="col.field" />
                    </ng-container>
                    }@else {
                    <ng-container>
                        <img class="w-8 h-8 m-auto" src="assets/icons/actions-icon.svg" alt="" />
                    </ng-container>
                    }
                </th>
                }
            </tr>
            @if (tableConfig.withFilter) {
            <tr>
                @if (tableConfig.withCheckBoxes) {
                <th class="p-2" *ngIf="">
                    <!-- <p-tableCheckbox [value]="item" /> -->
                </th>
                } @for (filter of tableFilter; track filter.field) {
                <th class="p-2">
                    <p-columnFilter [type]="filter.type" [field]="filter.field" [placeholder]="filter.placeholder"
                        ariaLabel="Filter Name" />
                </th>
                }
            </tr>
            }
        </ng-template>

        <ng-template pTemplate="body" let-item let-columns="columns" let-expanded="expanded" let-rowIndex="rowIndex">
            <tr class="border-b-2 border-gray-100">
                @if (tableConfig.withCheckBoxes) {
                <td class="p-2">
                    <p-tableCheckbox [value]="item" />
                </td>
                } @for (col of columns; track col.field) {

                <td class="p-2">
                    @if (col.header == '#') {
                    <div class="text-start">
                        {{ rowIndex + 1 }}
                    </div>
                    } @if (col.header !== 'Actions' && col.header !== '#') {
                    <ng-container>
                        @if (col.type == 'text') {
                        <div [ngClass]="col.rowStyle">
                            {{ item[col.field] ? item[col.field] : '-' }}
                        </div>
                        } @if (col.type == 'text-with-img') {
                        <div class="flex items-center justify-start">
                            <img [alt]="item[col.field].name" [src]="item[col.field]?.img"
                                style="width: 32px; height: 32px" class="rounded-md" />
                            <span class="mx-3 ml-1 vertical-align-middle">
                                {{ item[col.field].name }}
                            </span>
                        </div>
                        } @if (col.type == 'status') {
                        <div>
                            <div class="p-2 rounded w-[110px] status-wrapper m-auto flex items-center justify-start"
                                [ngClass]="{
                                    'bg-green-100 text-green-700': item[col.field],
                                    'bg-gray-100 text-gray-700': !item[col.field],
                                }">
                                <div class="inline-flex img-wrapper">
                                    <img class="w-5 h-5" *ngIf="item[col.field]" src="assets/icons/active-icon.svg"
                                        alt="" />
                                    <img class="w-5 h-5" *ngIf="!item[col.field]" src="assets/icons/inactive-icon.svg"
                                        alt="" />
                                </div>
                                <span class="inline-flex mx-3 text-md status-text">
                                    <span *ngIf="lang === 'ar'">
                                        {{
                                        item[col.field] ? "نشط" : "غير نشط"
                                        }}
                                    </span>
                                    <span *ngIf="lang === 'en'">
                                        {{
                                        item[col.field]
                                        ? "Active"
                                        : "Inactive"
                                        }}
                                    </span>
                                </span>
                            </div>
                        </div>
                        } @if (col.type == 'date') {
                        <div [ngClass]="col.rowStyle">
                            <span *ngIf="item[col.field]">
                                {{
                                item[col.field]
                                | date : "EE, d MMM y"
                                }}
                            </span>
                            <span *ngIf="! item[col.field]">
                                -
                            </span>
                        </div>
                        } @if (col.type == 'number') {
                        <div [ngClass]="col.rowStyle">
                            {{ item[col.field] ? item[col.field] : 0 }}
                        </div>
                        } @if (col.type == 'selection') {
                        <div [ngClass]="col.rowStyle">
                            <p-dropdown [options]="orderStatusList" [(ngModel)]="item[col.field]" appendTo="body"
                                (onChange)="onChangeStatus($event, item)" optionLabel="value" optionValue="key"
                                styleClass="w-[130px] border !leading-[0] !p-1 text-start border-[#E4DDE9] h-8 mt-2 rounded-md text-[#030311]">
                            </p-dropdown>
                        </div>
                        }
                    </ng-container>
                    } 
                    <!-- @if (col.header == 'Operations') {
                    <ng-container>
                        <div class="flex justify-center w-full icons-wrapper">
                            <ng-container *ngFor="
                                    let action of tableConfig.actions;
                                    let i = index
                                ">
                                <span (click)="
                                        actionClicked(
                                            action.key,
                                            action.type,
                                            item
                                        )
                                    " [ngClass]="{
                                        ' bg-primary text-white':
                                            action.key === 'LOCK' &&
                                            !item.isActive,
                                        ' bg-white':
                                            action.key === 'LOCK' &&
                                            item.isActive
                                    }"
                                    class="w-8 h-8 p-2 mx-2 leading-4 transition-colors duration-200 border border-gray-300 rounded-md cursor-pointer group hover:border-primary hover:bg-primary icon-item">
                                    <mat-icon [ngClass]="{
                                            '  text-white':
                                                action.key === 'LOCK' &&
                                                !item.isActive,
                                            ' ':
                                                action.key === 'LOCK' &&
                                                item.isActive
                                        }" class="w-4 h-4 min-w-4 min-h-4 group-hover:text-white" [class.text-primary]="
                                            action.key === 'LOCK'
                                        " [class.text-[#2FD36F]]="
                                            action.key === 'EDIT'
                                        " [class.text-[#F54141]]="
                                            action.key === 'DELETE'
                                        " [svgIcon]="
                                            action.key === 'LOCK' &&
                                            item.isActive
                                                ? 'feather:unlock'
                                                : action.icon
                                        "></mat-icon>
                                </span>
                            </ng-container>
                        </div>
                    </ng-container>
                    }  -->
                    @if (col.header == 'Actions') {
                        <ng-container>
                            <div class="flex justify-center w-full icons-wrapper">
                                <ng-container *ngFor="
                                        let action of tableConfig.actions;
                                        let i = index
                                    ">
                                    <span (click)="
                                            actionClicked(
                                                action.key,
                                                action.type,
                                                item
                                            )
                                        " [ngClass]="{
                                            ' bg-primary text-white':
                                                action.key === 'LOCK' &&
                                                !item.isActive,
                                            ' bg-white':
                                                action.key === 'LOCK' &&
                                                item.isActive
                                        }"
                                        class="w-8 h-8 p-2 mx-2 leading-4 transition-colors duration-200 border border-gray-300 rounded-md cursor-pointer group hover:border-primary hover:bg-primary icon-item">
                                        <!-- *ngIf="i < 2" -->
    
                                        <mat-icon [ngClass]="{
                                                '  text-white':
                                                    action.key === 'LOCK' &&
                                                    !item.isActive,
                                                ' ':
                                                    action.key === 'LOCK' &&
                                                    item.isActive
                                            }" class="w-4 h-4 min-w-4 min-h-4 group-hover:text-white" [class.text-primary]="
                                                action.key === 'LOCK'
                                            " [class.text-[#2FD36F]]="
                                                action.key === 'EDIT'
                                            " [class.text-[#F54141]]="
                                                action.key === 'DELETE'
                                            " [svgIcon]="
                                                action.key === 'LOCK' &&
                                                item.isActive
                                                    ? 'feather:unlock'
                                                    : action.icon
                                            "></mat-icon>
                                    </span>
                                </ng-container>
                                <p-button type="button" pRipple [pRowToggler]="item" [text]="true" [rounded]="true" [plain]="true"
                                    class="text-center cursor-pointer w-8 h-8 p-2 mx-2 leading-4 bg-[#F8F6F9] border border-[#E4DDE9] block rounded-lg text-[#030311]">
                                    <mat-icon class="!h-[20px] !min-h-[20px] !w-[20px] !min-w-[20px] -mx-1 -my-1" [svgIcon]="
                                            expanded
                                                ? 'feather:chevron-up'
                                                : 'feather:chevron-down'
                                        "></mat-icon>
                                </p-button>
                            </div>
                        </ng-container>
                    }
                </td>
                }
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr class="w-full p-2 text-center">
                <td [attr.colspan]="tableConfig?.columns.length" class="w-full text-center">
                    <!-- {{ tableConfig.emptyMsg | transloco}} -->
                    لا توجد بيانات
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-item let-rowIndex="rowIndex">
            <tr class="bg-slate-100">
                <td colspan="10">
                    <div class="block w-full p-4 content-wrapper">
                        <div class="w-full top-data">
                            <p class="text-xl text-start title text-primary">
                                {{
                                translationKey +".view.table.service_details"
                                | transloco
                                }}
                            </p>
                            <div class="flex items-stretch w-full mt-4 justify-stretch">
                                <div class="flex flex-col data-item w-1/10">
                                    <p class="block w-full p-2 text-center text-black border">
                                        #
                                    </p>
                                    <p class="block w-full p-2 text-lg text-center border">
                                        {{ rowIndex + 1 }}
                                    </p>
                                </div>
                                <div class="flex flex-col data-item w-1/10">
                                    <p class="block w-full p-2 text-center text-black border text">
                                        {{
                                        translationKey +".view.table.company_name"
                                        | transloco
                                        }}
                                    </p>
                                    <p class="block w-full p-2 text-lg text-center border">
                                        {{ item.companyName ? item.companyName : '-' }}
                                    </p>
                                </div>
                                <div class="flex flex-col data-item w-1/10">
                                    <p class="block w-full p-2 text-center text-black border text">
                                        {{
                                        translationKey +".view.table.companyBranchName"
                                        | transloco
                                        }}
                                    </p>
                                    <p class="block w-full p-2 text-lg text-center border">
                                        {{ item.companyBranchName ? item.companyBranchName : '-' }}
                                    </p>
                                </div>
                                <div class="flex flex-col data-item w-1/10">
                                    <p class="block w-full p-2 text-center text-black border text">
                                        {{
                                        translationKey +".view.table.first_visit_date"
                                        | transloco
                                        }}
                                    </p>
                                    <p class="block w-full p-2 text-lg text-center border">
                                        <span *ngIf="item.firstVisit"> {{
                                            item.firstVisit
                                            | date
                                            : "EE, d MMM y | h:mm a"
                                            }}</span>
                                        <span *ngIf="!item.firstVisit">-</span>
                                    </p>
                                </div>
                                <div class="flex flex-col data-item w-1/10">
                                    <p class="block w-full p-2 text-center text-black border">
                                        {{
                                        translationKey +".view.table.chosen_days"
                                        | transloco
                                        }}
                                    </p>
                                    <p class="block w-full p-2 text-center border">
                                        <ng-container *ngIf="item.orderDays?.length">
                                            <span *ngFor="
                                        let day of item.orderDays;
                                        let i = index
                                    " class="inline-block text-lg text-center text-blackrounded-full">{{
                                                day?.dayOfWeek | titlecase }}
                                                <span *ngIf="
                                            i <
                                            item.orderDays.length - 1
                                        ">
                                                    ,
                                                </span>
                                            </span>
                                        </ng-container>
                                        <span *ngIf="!item.orderDays?.length">-</span>
                                    </p>
                                </div>
                                <div class="flex flex-col data-item w-1/10">
                                    <p class="block w-full p-2 text-center text-black border text">
                                        {{
                                        translationKey +".view.table.shift"
                                        | transloco
                                        }}
                                    </p>
                                    <p class="block w-full p-2 text-lg text-center border">
                                        {{ item.shiftName ? item.shiftName : '-' }}
                                    </p>
                                </div>
                                <div class="flex flex-col data-item w-1/10">
                                    <p class="block w-full p-2 text-center text-black border text">
                                        {{
                                        translationKey +".view.table.contract_duration"
                                        | transloco
                                        }}
                                    </p>
                                    <p class="block w-full p-2 text-lg text-center border">
                                        {{ item.agreementDuration ? item.agreementDuration : '-' }}
                                    </p>
                                </div>
                                <div class="flex flex-col data-item w-1/10">
                                    <p class="block w-full p-2 text-center text-black border text">
                                        {{
                                        translationKey +".view.table.workers_count"
                                        | transloco
                                        }}
                                    </p>
                                    <p class="block w-full p-2 text-lg text-center border">
                                        {{ item.countOfWorker ? item.countOfWorker : 0 }}
                                    </p>
                                </div>
                                <div class="flex flex-col data-item w-1/10">
                                    <p class="block w-full p-2 text-center text-black border text">
                                        {{
                                        translationKey +".view.table.times_in_week"
                                        | transloco
                                        }}
                                    </p>
                                    <p class="block w-full p-2 text-lg text-center border">
                                        {{ item.countOfVisit ? item.countOfVisit: 0 }}
                                    </p>
                                </div>
                                <!-- <div class="flex flex-col data-item w-1/10">
                                    <p class="block w-full p-2 text-center text-black border text">{{
                                        'orders.view.table.daily_hours' | transloco }}</p>
                                    <p class="block w-full p-2 text-lg text-center border">{{
                                        item.serviceDetails?.dailyHours }}</p>
                                </div> -->
                                <div class="flex flex-col data-item w-1/10">
                                    <p class="block w-full p-2 text-center text-black border text">
                                        {{
                                        translationKey +".view.table.nationality"
                                        | transloco
                                        }}
                                    </p>
                                    <p class="block w-full p-2 text-lg text-center border">
                                        {{ item.nationalityName ? item.nationalityName : '-' }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="flex w-full mt-4 top-data">
                            <div class="w-1/2 bill-details">
                                <p class="text-xl text-start title text-primary">
                                    {{
                                    translationKey +".view.table.bill_details"
                                    | transloco
                                    }}
                                </p>
                                <div class="flex items-stretch w-full mt-4 justify-stretch">
                                    <div class="flex flex-col data-item w-1/10">
                                        <p class="block w-full p-2 text-center text-black border text">
                                            {{
                                            translationKey +".view.table.cost"
                                            | transloco
                                            }}
                                        </p>
                                        <p class="block w-full p-2 text-lg text-center border">
                                            {{ item.price ? item.price : 0 }}
                                        </p>
                                    </div>
                                    <div class="flex flex-col data-item w-1/10">
                                        <p class="block w-full p-2 text-center text-black border text">
                                            {{
                                            translationKey +".view.table.discount"
                                            | transloco
                                            }}
                                        </p>
                                        <p class="block w-full p-2 text-lg text-center border">
                                            {{ item?.descount ? item?.descount : 0 }}
                                        </p>
                                    </div>
                                    <div class="flex flex-col data-item w-1/10">
                                        <p class="block w-full p-2 text-center text-black border text">
                                            {{
                                            translationKey +".view.table.tax"
                                            | transloco
                                            }}
                                        </p>
                                        <p class="block w-full p-2 text-lg text-center border">
                                            {{ item?.tax ? item?.tax : 0 }}
                                        </p>
                                    </div>
                                    <div class="flex flex-col data-item w-1/10">
                                        <p class="block w-full p-2 text-center text-black border text">
                                            {{
                                            translationKey +".view.table.total"
                                            | transloco
                                            }}
                                        </p>
                                        <p class="block w-full p-2 text-lg text-center border">
                                            {{
                                            item.price +
                                            item?.tax -
                                            item?.descount
                                            }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-1/2 client-details">
                                <p class="text-xl text-start title text-primary">
                                    {{ translationKey +".view.table.client" | transloco }}
                                </p>
                                <div class="flex items-stretch w-full mt-4 justify-stretch">
                                    <div class="flex flex-col data-item w-1/10">
                                        <p class="block w-full p-2 text-center text-black border text">
                                            {{
                                            translationKey +".view.table.client_name"
                                            | transloco
                                            }}
                                        </p>
                                        <p class="block w-full p-2 text-lg text-center border">
                                            {{ item.userName ? item.userName : '-' }}
                                        </p>
                                    </div>
                                    <!-- <div class="flex flex-col data-item w-1/10">
                                    <p class="block w-full p-2 text-center text-black border text">{{
                                        'orders.view.table.phone_number' | transloco }}</p>
                                    <p class="block w-full p-2 text-lg text-center border">{{
                                        item.clientDetails?.phone }}</p>
                                </div> -->
                                    <div class="flex flex-col data-item w-1/10">
                                        <p class="block w-full p-2 text-center text-black border text">
                                            {{
                                            translationKey +".view.table.address"
                                            | transloco
                                            }}
                                        </p>
                                        <p class="block w-full p-2 text-lg text-center border">
                                            {{ item.userAddres ? (item.userAddres | slice:0:40) : '-' }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="flex items-center justify-between px-4 footer" *ngIf="tableConfig.data?.length">
    <p class="select-wrapper">
        <span class="text-black text">يتم عرض</span>
        <p-dropdown class="mx-2" [options]="tableConfig.rowsPerPageOptions" [(ngModel)]="rowsItems"
            (onChange)="onPageSizeChange($event)" />
        <!-- optionLabel=""  -->
        <!-- [(ngModel)]=""  -->
        <span class="text-black text">فى الصفحة</span>
    </p>
    <p-paginator [rows]="tableConfig?.rows" [totalRecords]="tableConfig?.total"
        (onPageChange)="pageChange($event)"></p-paginator>
    <div class="total-wrapper">
        <span class="text-black text">إجمالى</span>
        <span class="mx-2 number">{{ tableConfig?.totalPages }}</span>
        <span class="text-black text">صفحة</span>
    </div>
</div>