<form [formGroup]="resetPasswordForm">
    <span class="block mb-5 text-2xl font-bold text-center text-black p-text-secondary">
        {{ "auth.form.fields.reset_password_text" | transloco }}
    </span>
    <span class="flex justify-center mb-5 font-medium text-grey">
        {{ "auth.form.fields.reset_password_note" | transloco }}
    </span>
    <!-- Email field -->
    <mat-form-field class="w-full mb-4">
        <mat-label class="text-[16px] mb-2 block font-normal text-[#0B0311]">{{
            "auth.form.fields.password" | transloco
            }}</mat-label>
        <div class="relative w-full">
            <input id="password" matInput class="mt-2 bg-[#F0EEF1] pr-10 text-[#030311] text-[14px]" type="password"
                [formControlName]="'password'" #passwordField>
            <div class="absolute top-1 start-2">
                <i class="pi pi-lock" style="color: #000"></i>
            </div>
            <button mat-icon-button type="button" class="absolute -top-1 end-2"
                (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                matSuffix>
                <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
            </button>
        </div>

        <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">
            {{ "auth.form.messages.password_required" | transloco }}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label class="text-[16px] mb-2 block font-normal text-[#0B0311]">{{
            "auth.form.fields.confirm_password" | transloco
            }}</mat-label>
        <div class="relative w-full">
            <input id="password" matInput class="mt-2 bg-[#F0EEF1] pr-10 text-[#030311] text-[14px]" type="password"
                [formControlName]="'confirmPassword'" #passwordConfirmField>
            <div class="absolute top-1 start-2">
                <i class="pi pi-lock" style="color: #000"></i>
            </div>
            <button mat-icon-button type="button" class="absolute -top-1 end-2"
                (click)="passwordConfirmField.type === 'password' ? passwordConfirmField.type = 'text' : passwordConfirmField.type = 'password'"
                matSuffix>
                <mat-icon class="icon-size-5" *ngIf="passwordConfirmField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon class="icon-size-5" *ngIf="passwordConfirmField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
            </button>
            <!-- <input class="mt-2 bg-[#F0EEF1] pr-10 text-[#030311] text-[14px]" type="email" id="email" matInput
                [formControlName]="'email'" placeholder="{{
                    'auth.form.fields.email_placeholder' | transloco
                }}" />
            <div class="absolute top-2 right-2">
                <i class="pi pi-envelope" style="color: #000"></i>
            </div> -->
        </div>

        <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">
            {{ "auth.form.messages.password_required" | transloco }}
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('mustMatch')">
            {{ "auth.form.messages.password_must_match" | transloco }}
        </mat-error>
    </mat-form-field>
    <div class="w-full gap-2 text-center">
        <button class="w-full mt-6 rounded-md fuse-mat-button-large submit_button" mat-flat-button [color]="'primary'"
            [disabled]="resetPasswordForm.disabled" type="button" (click)="resetPassword()">
            <ng-container *ngIf="!resetPasswordForm.disabled">
                <span>
                    {{ "auth.form.fields.reset_password" | transloco }}
                </span>
                <i class="mr-2 pi pi-arrow-left" style="color: #fff"></i>
            </ng-container>
            <mat-progress-spinner *ngIf="resetPasswordForm.disabled" [diameter]="24"
                [mode]="'indeterminate'"></mat-progress-spinner>

        </button>
    </div>
</form>