<form [formGroup]="forgotPasswordForm">
    <span class="block mb-5 text-2xl font-bold text-center text-black p-text-secondary">
        {{ "auth.form.fields.forget_password" | transloco }}
    </span>
    <span class="flex justify-center mb-5 font-medium text-grey">
        {{ "auth.form.fields.email_placeholder" | transloco }}
    </span>
    <!-- Email field -->
    <mat-form-field class="w-full">
        <mat-label class="text-[16px] mb-2 block font-normal text-[#0B0311]">{{
            "auth.form.fields.email" | transloco
            }}</mat-label>
        <div class="relative w-full">
            <input class="mt-2 bg-[#F0EEF1] pr-10 text-[#030311] text-[14px]" type="email" id="email" matInput
                [formControlName]="'email'" placeholder="{{
                    'auth.form.fields.email_placeholder' | transloco
                }}" />
            <div class="absolute top-2 right-2">
                <i class="pi pi-envelope" style="color: #000"></i>
            </div>
        </div>

        <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
            {{ "auth.form.messages.email_required" | transloco }}
        </mat-error>
        <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
            {{ "auth.form.messages.email_invalid" | transloco }}
        </mat-error>
    </mat-form-field>
    <div class="w-full gap-2 text-center">
        <button class="w-full mt-6 rounded-md fuse-mat-button-large submit_button" mat-flat-button [color]="'primary'"
            [disabled]="forgotPasswordForm.disabled" type="button" (click)="onSubmit()">
            <ng-container *ngIf="!forgotPasswordForm.disabled">
                <span>
                    {{ "auth.form.fields.send_code" | transloco }}
                </span>
                <i class="mr-2 pi pi-arrow-left" style="color: #fff"></i>
            </ng-container>
            <mat-progress-spinner *ngIf="forgotPasswordForm.disabled" [diameter]="24"
                [mode]="'indeterminate'"></mat-progress-spinner>

        </button>
        <div class="w-full mt-8">
            <p-button class=" text-grey" type="button" label="{{ 'auth.form.fields.sign_in' | transloco }}"
                (click)="goToSignIn()" />
        </div>
    </div>
</form>