<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6">
        <!-- header -->

        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold leading-8 tracking-tight">
                    الرئيسية
                </div>
                <div class="font-medium tracking-tight text-secondary">
                    Monitor metrics, check reports and review performance
                </div>
            </div>
        </div>

        <!-- CONTENT GOES HERE -->
        <div
            class="border-2 border-gray-300 border-dashed h-400 min-h-400 max-h-400 rounded-2xl"
        >


            <!-- <app-input-muilt-option></app-input-muilt-option> -->
        </div>
    </div>


</div>

